<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--<a href="https://kauth.kakao.com/oauth/authorize?response_type=code&client_id=4d27640b59df7c07ae902a2cb443aad6&redirect_uri=http://localhost:8080/accounts/login">-->
<a href="https://kauth.kakao.com/oauth/authorize?response_type=code&client_id=4d27640b59df7c07ae902a2cb443aad6&redirect_uri=http://54.180.8.26:8080/accounts/login">

    <img src="/images/kakao.png"/>
</a>
</body>
</html>